// ion-header img {
//     width: 40px;
// }

.section {
    --background: rgb(160, 150, 150)!important;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2) !important;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
}

.section:active {
    color: #ff0015!important;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.6)!important;
    ion-icon {
        color: #ff0015!important;
    }
}
ion-img.car-page-img {
    width: 100% !important;
    height: 190px !important;
}
ion-grid.car-grid{
    height: 220px !important; 
    padding: 0% !important;
}
ion-toggle{
    --background: #000;
}