<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs/more"></ion-back-button>
        </ion-buttons>
        <ion-title slot="start">
            {{ 'CONTACTUS' | translate }}
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item>
            <ion-label>
                <p>{{ 'ADDRESS' | translate}}</p>
                <h3>xxxx</h3>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-label>
                <p>{{ 'PHONE' | translate}}</p>
                <h3>xxxx</h3>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-label>
                <p>{{ 'LOCATION' | translate}}</p>
                <h3>xxxx</h3>
            </ion-label>
        </ion-item>
    </ion-list>

  
</ion-content>