<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs/more"></ion-back-button>
        </ion-buttons>
        <ion-title slot="start">
            {{ 'CONTACTUS' | translate }}
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item>
            <ion-label>
                <p>{{ 'ADDRESS' | translate}}</p>
                <h3>7B Omar Ibn Al Khatab Street</h3>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-label>
                <p>{{ 'PHONE' | translate}}</p>
                <h3>01009350660</h3>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-label>
                <p>{{ 'LOCATION' | translate}}</p>
                <h3><a href="https://whatmylocation.com?latitude=29.853742399999998&longitude=31.3700807">My Location</a></h3>
            </ion-label>
        </ion-item>
    </ion-list>

  
</ion-content>