ion-header img {
    width: 40px;
}

.section {
    --background: rgb(114, 110, 110)!important;
    color: #000 !important;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
}

.section:active {
    color: #fff !important;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.6);
    ion-icon {
        color: #ff0015 !important;
    }
}

ion-button {
    color: black;
}

.car-photo {
    height: 130px;
    width: 280px;
}
// .error-message{
//     color: #ff0015;
// }
#car-re{
    width: 80px !important;
    height: 80px !important;
}