<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs/home"></ion-back-button>
        </ion-buttons>
        <ion-title slot="start">{{ 'NEWCARS' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item class="ion-activatable ion-focusable ripple-parent" *ngFor="let nc of NewCarsdata" [routerLink]="['/tabs/car', nc._id]">
            <ion-thumbnail slot="end">
                <img src="../../assets/img/{{nc.Images[0]}}">
            </ion-thumbnail>
            <ion-label>{{nc.Title}}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>