<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs/profile"></ion-back-button>
        </ion-buttons>
        <ion-title slot="start">{{ 'FAVOURITES' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <!-- <img  src="../../assets/img/No Results1.png"> -->
    <ion-list>
        <ion-item ion-long-press class="ion-activatable ion-focusable ripple-parent"
            *ngFor="let mf of myFavourites; index as i" [routerLink]="['/tabs/car', mf.x._id]">
            <ion-thumbnail slot="end">
                <img src="{{url}}/image/{{mf.x.Images[0].filename}}">
            </ion-thumbnail>
            <ion-label>{{mf.x.Title}}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>