<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs/search"></ion-back-button>
        </ion-buttons>
        <ion-title slot="start">{{ 'CARS' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list lines="none">
        <ion-item class="ion-activatable ion-focusable ripple-parent" [color]="even? '' : 'light'"
            *ngFor="let sc of searched; index as i; let even = even" [routerLink]="['/tabs/search/car', sc._id]">
            <ion-thumbnail slot="end">
                <img src="{{url}}/image/{{sc.Images[0].filename}}">
            </ion-thumbnail>
            <ion-label>{{sc.Title}}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>