<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs/home"></ion-back-button>
        </ion-buttons>
        <ion-title slot="start">{{ 'PREOWNEDCARS' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item class="ion-activatable ion-focusable ripple-parent" *ngFor="let poc of UsedCarsdata; index as i"
            [routerLink]="['/tabs/car', poc._id]">
            <ion-thumbnail slot="end">
                <img [src]='PreownedCarsArrayOfImages[i]'>
            </ion-thumbnail>
            <ion-label>{{poc.Title}}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>