<ion-header>
    <ion-toolbar>
        <ion-title class="center">
            <img src="../../assets/img/car-logo.png" id="img">
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="animated-car">
        <div class="hero">
            <div class="highway"></div>
            <div class="city"></div>
            <div class="car">
                <img src="../../assets/img/animated-car/car.png">
            </div>
            <div class="wheel">
                <img src="../../assets/img/animated-car/wheel.png" class="back-wheel">
                <img src="../../assets/img/animated-car/wheel.png" class="front-wheel">
            </div>
        </div>
    </div>

    <h6 class="section">{{ 'BROWSEBYCATEGORY' | translate }}</h6>

    <ion-row style="text-align: center;">
        <ion-col size="6">
            <div class="div1" [routerLink]="['/tabs/home/new-cars']">
                <ion-icon name="car-sport-outline"></ion-icon>
                <br>
                <p>{{ 'NEWCARS' | translate }}</p>
            </div>
        </ion-col>
        <ion-col size="6">
            <div class="div1" [routerLink]="['/tabs/home/preowned-cars']">
                <ion-icon name="car-outline"></ion-icon>
                <br>
                <p>{{ 'PREOWNEDCARS' | translate }}</p>
            </div>
        </ion-col>
    </ion-row>
    <ion-row style="text-align: center;" id="row2">
        <ion-col size="6">
            <div class="div1" [routerLink]="['/tabs/home/all-cars-photos']">
                <ion-icon name="images-outline"></ion-icon>
                <br>
                <p>{{ 'CARIMAGES' | translate }}</p>
            </div>
        </ion-col>
        <ion-col size="6">
            <div class="div1" [routerLink]="['/tabs/home/reviews']">
                <ion-icon name="eye-outline"></ion-icon>
                <br>
                <p>{{ 'ALLCARS' | translate }}</p>
            </div>
        </ion-col>
    </ion-row>
    <ion-list>
        <h6 class="section">{{ 'LATESTCARS' | translate }}</h6>
        <ion-item>
            <ion-slides pager="true" [options]="slideOpts">
                <ion-slide *ngFor="let rc of RecentCarsdata; index as i">
                    <ion-grid class="home-grid">
                        <a [routerLink]="['/tabs/home/car', rc._id]">
                            <ion-img src="{{url}}/image/{{rc.Images[0].filename}}" class="car-home-image"></ion-img>
                            <ion-row class="car-name">
                                <ion-col>
                                    <h5>{{rc.Title}}</h5>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <p>{{rc.Price}}€
                                    </p>
                                </ion-col>
                            </ion-row>
                        </a>
                    </ion-grid>
                </ion-slide>
            </ion-slides>
        </ion-item>

        <h6 class="section">{{ 'MOSTVIEWEDCARS' | translate }}</h6>
        <ion-item>
            <ion-slides pager="true" [options]="slideOpts1">
                <ion-slide *ngFor="let mvc of MostViewsCarsdata; index as i">
                    <ion-grid class="home-grid">
                        <a [routerLink]="['/tabs/home/car', mvc._id]">
                            <ion-img src="{{url}}/image/{{mvc.Images[0].filename}}" class="car-home-image"></ion-img>
                            <ion-row class="car-name">
                                <ion-col>
                                    <h5>{{mvc.Title}}</h5>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <p>{{mvc.Price}}€
                                    </p>
                                </ion-col>
                            </ion-row>
                        </a>
                    </ion-grid>
                </ion-slide>
            </ion-slides>
        </ion-item>
    </ion-list>
</ion-content>