<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs/home"></ion-back-button>
        </ion-buttons>
        <ion-title slot="start">{{ 'IMAGES' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-row class="ion-align-items-start">
        <ion-col size="4" size-sm *ngFor="let ACP of AllCarsArrayOfImages; index as i">
            <ion-img [src]='ACP' style="height: 115px !important"></ion-img>
        </ion-col>
    </ion-row>

</ion-content>